@{
  Layout = "_Layout";
}

@model UniversityRoster.Models.Course

<h4>Add a new course</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Class)
  @Html.TextBoxFor(model => model.Class)
  <input type="submit" value="Add new course" />
}
<p>@Html.ActionLink("Show all courses", "Index")</p>